.footer{
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top:40px;
}

.move-container{
  height:200px;
  width:650px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rock-move,.paper-move,.scissors-move{
  height:100%;
  width:30%;
  background-color:rgba(94, 164, 229, 0.7);
  border:solid black 4px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.rock-move:hover,.paper-move:hover,.scissors-move:hover{
  transition: background-color .5s,border-color .5s;
  background-color:rgba(94, 164, 229, 1);
  border-color:white;
}
.rock-move:active,.paper-move:active,.scissors-move:active{
  transition: background-color .2s,border-color .2s;
  background-color:rgba(22, 117, 176, 0.926);
  border-color:rgb(5, 71, 111);
}

.rock-emoji,.paper-emoji,.scissors-emoji{
  height:80%;
  width:80%;
}

.button-container{
  width:100%;
  height:100px;
  margin-top: 30px;

  display:flex;
  justify-content: center;
  align-items: center;
}

.container{
  width:20%;

  display:flex;
  justify-content: space-between;
  align-items: center;
}

.reset-button,.auto-play-button{
  background-color: gray;
  width:70px;
  height:70px;

  border:solid;

  display:flex;

  align-items: center;
  justify-content: center;

  border-radius: 50px;

  border-width:3px;
}

.reset-icon{
  width:70%;
  height:70%;
}
.auto-play-icon{
  height:115%;
  width:112%;
}

.reset-button:hover,.auto-play-button:hover{
  border-color:white;
  background-color: rgb(172, 172, 172);

  transition: background-color .5s, border-color .5s;
}

.reset-button:active,.auto-play-button:active{
  background-color: rgb(115, 115, 115);
  border-color: rgb(46, 46, 46);

  transition: background-color .2s, border-color .2s;
}

@media screen and (max-width: 800px){
  .move-container{
    width:400px;
    height: 130px;
  } 
}