.title {
  background-color: rgba(0,0,0,0.8);

  position: fixed;
  
  height: 50px;

  top: 5px;
  right: 0px;
  left: 0px;

  display: flex;

  justify-content: center;
  align-items: center;

}
.text-title {
  color:aqua;
  font-size:30px;
  font-family: Roboto;
}

.round {
  display: flex;
  justify-content: center;
  color:yellow;
  font-size:25px;
}