.result-holder{
  background-color:pink;
  height:350px;
  display:flex;
  justify-content: space-between;
}

.you-section,.computer-section,.result-section{
  background-color: lightblue;
}

.you-section,.computer-section{
  width:350px;

  display: flex;
}
