.result-holder{
  height:350px;
  display:flex;
  justify-content: space-between;
}

.you-section,.computer-section{
  width:300px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.you-text,.computer-text{
  height:35px;
  font-size:25px;
  color:yellow;
}
.you-move,.computer-move{
  width:100%;
  height:80%;


  border:solid;
  border-width:4px;
  border-color:black;

  display: flex;
  justify-content: center;
  align-items: center;
}
.you-move{
  background-color: rgba(0,0,255,.5);
}
.computer-move{
  background-color: rgba(255,0,0,.5);
}
.result-section{
  display: flex;
  align-items: center;

}
.result{
  color:yellow;
  font-size:50px;

  border-top:solid 4px white;
  border-bottom:solid 4px white;
}

.result-display{
  background-color: black;
  height:80px;
  width:100%;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 40px
}

.result-text{
  color:aqua;
  font-size:35px;
}

@media screen and (max-width: 800px){
  .you-section,.computer-section{
    width: 180px;
    height: 240px;
    margin-top: 40px;
  }
  .result {
    font-size:45px;
  }
}

@media screen and (max-width: 550px){
  .you-section,.computer-section{
    width: 150px;
    height: 190px;
    margin-top: 40px;
  }
  .result {
    font-size:35px;
    margin-bottom:35px;
  }
}

.move-icon{
  width:80%;
  height:80%;
  z-index:10;
}