.result-holder{
  background-color:pink;
  height:350px;
  display:flex;
  justify-content: space-between;
}

.you-section,.computer-section,.result-section{
  background-color: lightblue;
}

.you-section,.computer-section{
  width:300px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.you-text,.computer-text{
  height:35px;
  font-size:25px;
  color:yellow;
}
.you-move,.computer-move{
  width:300px;
  height:300px;

  border-color:black;
  border:solid;
  border-width:4px;
}
.you-move{
  background-color: rgba(0,0,255,.5);
}
.computer-move{
  background-color: rgba(255,0,0,.5);
}
.result-section{
  display: flex;
  align-items: center;

}
.result{
  color:yellow;
  font-size:50px;

  border-top:solid 4px white;
  border-bottom:solid 4px white;
}